/* Mise en place du body */
body{
    margin: 0;
    padding: 0;
    font-family:  'Open Sans',Arial, sans-serif;
}
p{
    margin: 10 0 ;
}
p.lg{
    margin: 0;
}
section{
    padding: 10px 0 ;
}
/* Première section */

.first{
    /* background: black; */
    margin: 0;
    padding: 0;
    background-color: #252444;
}
header{
    height: 50px;
}
nav ul{
    list-style-type: none;
    display: flex;
    color: white;
    margin: 0;
}
li{
    margin:20px 5%;
    display: flex;
    align-items: center;
}
.left{
    margin-left: auto;
}
li a {
    color:#3d9f96
}
br{
    color: #7e7e7e;
}
nav img{
    width: 200px;
}
.contenant_image{
    display:flex;
    justify-content: center;
    position: relative;
    margin-top: -45px;
    
}
.contenant_first{
    display: flex;
    justify-items: center;
}
.first_text{
    display: flex;
    justify-content: center;
    text-align: center;
}
.ordinateur img{
    width:50%;
}
.Promote{
    font-family: 'Raleway', Arial, sans-serif ;
    /* font-family: */
    color: #FFFF
}
.Green{
    font-family:  'Open Sans',Arial, sans-serif;
    color:#3d9f96;
}
.first_text>span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sous{
    font-family: Helvetica, Arial, sans-serif, 'Raleway';
    color:#FFFF;
    width: 70%;
    /* text-align: center; */
}
button{
    color: #FFFF;
    border: #3d9f96;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #3d9f96;
}
.ordinateur{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0%;
}




/*rso section*/
.rso{
    display: flex;
    color:#3d9f96;
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 30px 0;
    /* margin-top: -40px; */
}
div img{
    margin: 0 5px;
}
/*finrso section*/

/*section check*/
.check{
    text-align: center;
    margin: 0 20%;
}
/*fincheck section*/

/*section app*/
.logo{
    display: flex;
    margin: 0 20px;
    padding: 20px 0;
}
.app{
    display: flex;
    justify-content: center;
    margin: 0 22% 0 22%;
}
.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width:250px;
    background-image: url(Archive/assets/img/image_190px_1.png);
    /*here we adjuste the size of the background image in order to fit in the div*/
    background-size: 240px;
    background-repeat: no-repeat;

}
.phone div{
    width:250ppx;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map{
    background-image: url(Archive/assets/img/map_bg.png);
    background-repeat: no-repeat;
    background-position: center;

}
    

 
/* finsection app*/

/*section citation*/
.citation{
    background-color:#252444 ;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFF;
}
 /* TO DOOOOOOOOOOOOO change the circul in white*/


 /*section grey*/
 .grey{
    background-color: #f0f0f0;
    padding: 50px 5%;
 }
 .screen{
     width:250px ;
     height: 400px;
 }
 .gris{
     color: #dfdfdf;
     text-justify: center;
 }
.fig{
    display:flex ;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}
figure{
    margin-left: 0;
}
/* finsection grey */

/* section blanche */

.blanche{
    margin: 15px 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* transformation des images en blanc */
.blanche{
    padding:0 5%;
}
img.blanchire{
    filter: brightness(0) invert(1);
}

.tested{
    display: flex;
    justify-content: space-between;
}
.tested img{
    width: 200px;
}
.tested2{
    display: flex;
    justify-content: space-between;
}
.tested2 img{
    width: 200px;
}
.gris2{
    color: #dfdfdf;
    width: 400px;
}
.grey{
    display: flex;
    justify-content: space-around;
}
.tt{
    padding: 0 50px 0 0;
}
.t_ordi  {
    display: flex;
    justify-items: center;
    align-self: center;
    width: 100%;
    height: 350px;
    background-image: url(Archive/assets/img/dzdzd.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.t_ordi figure div {
    margin-top: 40%;
}
/*footer*/
footer{
    display:flex;
    justify-content: center;
    margin: 20px 50px;
}
.rsofin{
    margin-left: auto;
    display: flex;
    align-self: center;
}

/*responsive*/
@media screen and (max-width:900px) {
    nav>ul {
       visibility: hidden;  /* we hide this items */
    }
    section.app{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    div.map div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.contenant-phone{
        background-image: url(Archive/assets/img/map_bg.png);
        background-size:200%;
    }
    div.fig{
        display: block;
    }
    div.tested{
        display:block ;
    }
    div.tested>div{
        text-align: center;
        padding: 0;
    }
    div.tested2{
        display:flex ;
        flex-direction: column-reverse;
    }
    div.tested2>div{
        text-align: center;
        padding: 0;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.rsofin{
        margin: 0;
    }
}